[ENDNODE CONFIG]
#Devie Name for chanhing HWP in the end node
EN_HWP_ROTATOR = K10CR1M
# Serial Number of Rotation Cage used for Half Waveplate
EN_HWP_ROTATOR_SN  = 55357944

#Devie Name for chanhing QWP in the end node
EN_QWP_ROTATOR = K10CR1M
# Serial Number of Rotation Cage used for Half Waveplate
EN_QWP_ROTATOR_SN  = 55357924
